.banner {
    background: url(images/zakynthos-tipps-2.jpg);
    background-position: center;
    color: #ffffff;
    align-items: center;
    text-align: center;
}


.banner{
    padding: 200px;
}
